<div>

  <h3>INICIA SESIÓN</h3>

  <form action="/auth/login" method="POST">
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="username" class="col-form-label">Nombre de usuario</label>
      </div>
      <div class="col-auto">
        <input type="text" name="username" id="username" class="form-control" />
      </div>
      <div class="col-auto">
        <label for="password" class="col-form-label">Contraseña</label>
      </div>
      <div class="col-auto">
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          aria-describedby="passwordHelpInline"
        />
      </div>
    </div>

    <div class="col-auto">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="autoSizingCheck" />
        <label class="form-check-label" for="autoSizingCheck">
          Recordarme
        </label>
      </div>
    </div>

    <p style="color: rgb(231, 47, 14)">{{errorMessage}}</p>
    <button class="btn btn-primary">Iniciar sesión</button>

    <br />
    <div class="input-holder">
      <span>¿Eres nuevo en Vimark?
        <a href="/auth/signup" title="Create a Gymshark Account">Crea una cuenta</a></span>
    </div>

  </form>

</div>