<div>

  <h3>CREA UNA CUENTA</h3>
  <p>Regístrate y podrás administrar tu cuenta</p>

  <form action="/auth/signup" method="POST">
    <div class="row">
      <div class="col">
        <input
          type="text"
          name="firstName"
          class="form-control"
          placeholder="Nombre"
          aria-label="Nombre"
        />
      </div>
      <div class="col">
        <input
          type="text"
          name="lastName"
          class="form-control"
          placeholder="Apellido"
          aria-label="Apellido"
        />
      </div>
    </div>
    <br />
    <div class="mb-3">

      <input
        type="email"
        name="email"
        class="form-control"
        placeholder="Correo electrónico"
        id="email"
      />
    </div>
    <div class="mb-3">

      <input
        type="text"
        name="username"
        class="form-control"
        placeholder="Nombre de usuario"
        id="username"
      />
    </div>
    <div class="mb-3">

      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Contraseña"
        id="password"
      />
    </div>
    <div id="passwordHelpBlock" class="form-text">
      La contraseña debe tener mínimo 8 caracteres, una mayúscula y un número.
    </div>

    <button class="btn btn-primary">Crear cuenta</button>
  </form>
</div>