<div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Crear un producto</h5>
          <p class="card-text">Aquí puedes añadir nuevos productos.</p>
          <a href="/product/create" class="btn btn-primary">Añadir</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de productos</h5>
          <p class="card-text">Aquí encontrarás todos los productos disponibles.</p>
          <a href="/product/" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Crear una tienda</h5>
          <p class="card-text">Aquí puedes añadir nuevas tiendas.</p>
          <a href="/supplier/create" class="btn btn-primary">Añadir</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de tiendas</h5>
          <p class="card-text">Aquí encontrarás todas nuestras tiendas.</p>
          <a href="/supplier/" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>
  </div>
</div>