<div>
    <a href="/product/create">Crear producto</a>
    <a href="/product/">Lista de productos</a>
    <a href="/supplier/create">Crear empresa</a>
    <a href="/supplier/">Lista de empresas</a>
</div>