<div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Crear un producto</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/product/create" class="btn btn-primary">Añadir</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lista de productos</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/product/" class="btn btn-primary">Ver</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Crear una tienda</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/supplier/create" class="btn btn-primary">Añadir</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lista de tiendas</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/supplier/" class="btn btn-primary">Ver</a>
      </div>
    </div>
  </div>
</div>
</div>


