<div>
    <h1>Hola username </h1>
    <div>
        <h4>{{details.firstName}}</h4>
        <h4>{{details.lastName}}</h4>
        <h4>{{details.email}}</h4>
    </div>

    <a href="/profile/{{details._id}}/edit">
    <button>Editar</button>
    </a>
</div>