<div>
    <h1>Hola {{userDetails.username}} </h1>
    <a href="/profile/{{userDetails._id}}/edit">Editar perfil</a>
    <a href="/profile/favorites/">Favoritos</a>
   {{#if isAdmin}}
    <a href="/profile/admin-dashboard">Administrador</a>
    {{/if}}
    <form action="/profile/{{userDetails._id}}/delete" method="POST"><button>Borrar perfil</button></form>