<div>
    <h1>Añade un producto</h1>
    <form action="/product/create.hbs" method="POST">
    <label for="name">Nombre:</label>
    <input type="text" name="name">
    <br>
    <label for="description">Descripción:</label>
    <input type="text" name="description">
    <br>
    <label for="category">Categoría:</label>
    <input type="text" name="category">
    <br>
    <label for="supplier">Vendedor:</label>
    <input type="text" name="supplier">
    
    <button>Añadir</button>

    </form>
</div>