<div>
    <h1>Añade un producto</h1>
    <form action="/product/create" method="POST">
    <label for="name">Nombre:</label>
    <input type="text" name="name">
    <br>
    <label for="description">Descripción:</label>
    <input type="text" name="description">
    <br>
    <label for="category">Categoría:</label>
    <input type="text" name="category">
    <br>
    <label for="supplier" class="form-label">Vendedor:</label>
    <select name="supplier" multiple="true" class="form-select">

        <option value="">Elija vendedor</option>
    
    <button>Añadir</button>

    </form>
</div>