<div>
<<<<<<< HEAD
  <h1>Añade un producto</h1>
  <form action="/product/create" method="POST">
=======
    <h1>Añade un producto</h1>
    <form action="/product/create" method="POST" enctype="multipart/form-data">
>>>>>>> 1e28c041da7d2defd55ef29bf1042c9ca82e5826

    <label for="name" class="form-label">Nombre:</label>
    <input type="text" name="name" class="form-control" />
    <br />
    <label for="description" class="form-label">Descripción:</label>
    <input type="text" name="description" class="form-control" />
    <br />
    <label for="category" class="form-label">Categoría:</label>
    <select name="category" class="form-select">
      <option value="maquillaje">Maquillaje</option>
      <option value="ropa">Ropa</option>
      <option value="cuidado-de-la-piel">Cuidado de la piel</option>
      <option value="estilo-de-vida">Estilo de vida</option>
    </select>
    <br />
    <label for="supplier" class="form-label">Vendedor:</label>
    <select name="supplier" multiple="true" class="form-select">

      <option value="">Elija vendedor</option>

      {{#each vendedorList}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}

        </select>

        <label for="image">Imagen de producto</label>
        <input type="file" name="image">
        <button>Añadir</button>

  </form>
</div>