<div>
    <h1>Añade un producto</h1>
    <form action="/product/create" method="POST" >
   
    <label for="name" class="form-label">Nombre:</label>
    <input type="text" name="name" class="form-control">
    <br>
    <label for="description" class="form-label">Descripción:</label>
    <input type="text" name="description" class="form-control">
    <br>
    <label for="category" class="form-label" >Categoría:</label>
    <input type="text" name="category" class="form-control">
    <br>
    {{!-- <label for="supplier" class="form-label">Vendedor:</label>
    <input type="text" name="supplier" class="form-control"> --}}
        


        {{!-- <option value="">Elija vendedor</option>

        {{#each supplierList}}
        <option value="{{name}}">{{this.name}}</option>
    {{/each}}

    </select> --}}
    <button type="submit">Añadir</button>

    </form>
</div>