<div>

     <p> Resultados de la búsqueda:</p>
     <h4>{{details.name}}</h4>
     <h5>{{details.description}}</h5>
     <form action="/profile/favorites/{{details._id}}" method="POST">

          <input type="submit" value="♡" />
     </form>
</div>