<div>
  <h3>AÑADE UNA TIENDA</h3>

  <form action="/supplier/create" method="POST">
    <div class="row">
      <div class="col">
        <input
          type="text"
          name="name"
          class="form-control"
          placeholder="Nombre de empresa"
          aria-label="Nombre"
        />
      </div>
      <div class="col">
        <input
          type="text"
          name="location"
          class="form-control"
          placeholder="Ubicación"
          aria-label="Ubicación"
        />
      </div>
    </div>
    <br />
    <button class="btn btn-primary">Añadir</button>
  </form>

</div>