<div>
  <h1>Añade una tienda</h1>
  <form action="/supplier/create" method="POST">

    <label for="name">Nombre:</label>
    <input type="text" name="name" />
    <br />
    <label for="location">Ubicación:</label>
    <input type="text" name="location" />
    <br />
    <button>Añadir</button>

  </form>
</div>