<div>
  <h3>A침ade una tienda</h3>

  <form action="/supplier/create" method="POST">
    <div class="row">
      <div class="col">
        <input type="text" name="name" class="form-control" placeholder="Nombre de empresa" aria-label="Nombre">
      </div>
      <div class="col">
        <input type="text" name="location" class="form-control" placeholder="Ubicaci칩n" aria-label="Ubicaci칩n">
      </div>
    </div>
    <br>
    <button class="btn btn-primary">A침adir</button>
  </form>


</div>