<div>
    <h1>Detalle del vendedor</h1>

    <p>Nombre: {{details.name}}</p>
    <p>Ubicación: {{details.location}}</p>

     <a href="/supplier/{{supplierDetails._id}}/edit">
    <button>Editar</button>
</div>