<div>
    <h3>DETALLES DEL VENDEDOR</h3>

    <p>Nombre: {{details.name}}</p>
    <p>Ubicación: {{details.location}}</p>

     <a href="/supplier/{{supplierDetails._id}}/edit">
    <button>Editar</button>
</div>