<div>

  <h3>EDITAR TIENDA</h3>
  <form action="/supplier/{{supplierDetails._id}}/edit" method="POST">
    <div class="row">
      <div class="col">
        <input type="text" name="name" value="{{supplierDetails.name}}" class="form-control" aria-label="Nombre">
      </div>
      <div class="col">
        <input type="text" name="location" value="{{supplierDetails.location}}" class="form-control"
          aria-label="Ubicación">
      </div>
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary">Guardar</button>
        <form action="/supplier/{{supplierDetails._id}}/delete" method="POST"><button
            class="btn btn-primary">Borrar</button>
        </form>
      </div>
    </div>

  </form>

</div>



</div>