<div>
  <h3>LISTA DE VENDEDORES</h3>

  <ul>
    {{#each supplierList}}
      <li>
        <a href="/supplier/{{this._id}}/edit">{{this.name}}</a>
        {{this.location}}
      </li>
    {{/each}}
  </ul>

</div>