<div>
    <h1>Lista de vendedores</h1>

    <ul>
        {{#each supplierList}}
        <li>
            <a href="/supplier/{{supplierDetails._id}}/edit">{{this.name}}</a>
            {{this.location}}
        </li>
        {{/each}}
    </ul>

</div>